@charset="utf-8"
*{
	outline: 0;
	margin: 0px;
	padding: 0px;
}
#header{
	min-width: 1024px;
	min-height: 86px;
	margin: 0px auto;
}
.header-up{
	height: 30px;
	background: #333;
	min-width: 1024px;
	line-height: 30px;
}
.header-down{
	height: 56px;
	background: #fafafa;
	border-bottom: 1px solid gray;
}

.lg-app{
	text-decoration: none;
	color: #08d7a2;
	margin: 0px 12px 0px 27px;

}
.lg-os{
	text-decoration: none;
	color: #c4c3c3;
}
.lg-os:hover{
	color: white;
}
.lg-list{
	float: right;
	overflow: hidden;
	list-style: none;
	margin-top: 1px;
	margin-right: 25px;
}
.lg-list>li{
	float: left;
	width: 90px;
	color: #c4c3c3;
	text-align: center;
	display: block;
	cursor: pointer;
}
.lg-list>li:hover{
	color: white;
}
#lg-list-drop{
	display: none;
	background: #333;
	list-style: none;
	color:#c4c3c3;
	border: none;
	margin-top: -1px;
	z-index: 2;
	text-align: center;
}
#lg-list-drop>li{
	cursor: pointer;
	width: 90px;
	margin-left: -40px;
    color: #c4c3c3;
}
#lg-list-drop>li:hover{
	color: white;
	background-color: gray;
}
